
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
    color: #fff;
}
body{
    background-color: #000942;
}
header{
    background-color: #000942;
    width: 100%;
    padding: 10px 200px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 15px 0;
    border-bottom: solid 1px #bababa;
}
.menuToggle{
    display: none;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 1em;
    transition: 0.7s ease;
}
nav ul li a:hover{
    color: #e91e63;
    transform: scale(1.1);
    font-weight: bold;
    padding: 5px;
    border-left: #e91e63 solid 2px;
}

/* .active{
    color: #e91e63;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 5px;
    border-bottom: #e91e63 solid 2px;;
} */
nav .btn{
    font-size: 1em;
    background-color: #e91e63;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    transition:0.7s ease;
}
.side-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    background: linear-gradient(#00bcd4, #e91e63, #3f51b5, #00bcd4);
    background-size: 100% 500%;
    background-position: 0 40%;
    z-index: 999;
}
.side-nav:hover{
    animation: bg-color 20s linear infinite reverse ;
}
@keyframes bg-color{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 0% 400%;
    }
}
.side-nav h2{
    font-size: 50px;
}
.side-nav a{
    display: block;
    margin: 20px;
}
.side-nav a i{
    color: #fff;
    font-size: 22px;
    transition: 1s;
}
.side-nav a i:hover{
    padding: 7px;
    background-color: #00bcd4;
    border-radius: 50%;
}

.home{
    background-color: #000942;
    width: 100%;
    
}
.home .container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 136px 220px 0 220px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.home::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #e91e63;
    position: absolute;
    clip-path: circle(40% at right 70%);
    opacity: 0.7;
}
.home .container-1 .text-box-1 h2{
    font-size: 1.7em;
    margin-bottom: 10px;
}
.home .container-1 .text-box-1 h1{
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: bold;
}
.home .container-1 .text-box-1 h1 span{
    font-size: 2em;
    font-weight: bolder;
    color: #fc3476;
}
.home .container-1 .text-box-1 p{
    font-size: 1em;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.home .container-1 .text-box-1 .about{
    text-decoration: none;
    width: 150px;
    background-color: #e91e63;
    padding: 7px 15px;
    margin: 30px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: 300;
    transition: 0.7s ease;
}
.home .container-1 .text-box-1 .about:hover{
    transform: scale(1.1);
}
.img-box-1 { 
    margin-right: 30px;
    margin-top: 20px;
}
.img-box-1 img{
    width: 255px;
    height: 513px;
}

.skills{
    width: 100%;
    background-color: #000942;
}
.skills .container-2{
    margin: 0 auto;
    padding: 40px 50px 0 100px;
}
.skills .container-2 .circles{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.circles .circle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.6em;
    width: 180px;
    height: 180px;
    border: 5px solid #e91e63;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    margin: 15px;
}
.circles .circle:hover{
    background-color: #e91e63;
    transform: scale(1.1);
}
.circles .circle .image-logo{
    width: 90px;
    height: 90px;
}
.circles .circle .image-logo img{
    width: 90px;
    height: 90px;
    padding: 10px;
}
.services{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #000942;
    width: 100%;
}
.title{
    font-size: 2em;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 8% 6% 0% 6%;
    letter-spacing: 2px;
}
.title span{
    font-size: 2.3em;
    font-weight: 400;
    color: #e91e63;
}
.container-3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px 50px 0 50px;
}
.container-3 .box{
    position: relative;
    width: 300px;
    height: 350px;
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
/* .container-3 .box::after{
    content: '';
    position: absolute;
    inset: 60px -10px;
    border-left: 4px solid var(--clr);
    border-right: 4px solid var(--clr);
    transform: skew(15deg);
    transition: 0.7s ease-in-out;
}
.container-3 .box:hover::after{
    transform: skew(0deg);
    inset: 40px -10px;
} */
.container-3 .box::before{
    content: '';
    position: absolute;
    inset: -10px 50px;
    border-top: 4px solid var(--clr);
    border-bottom: 4px solid var(--clr);
    transform: skew(15deg);
    transition: 0.7s ease-in-out;
}
.container-3 .box:hover::before{
    transform: skew(0deg);
    inset: -10px 40px;
}
.container-3 .box .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container-3 .box .content .icon i{
    color: var(--clr);
    width: 80px;
    height: 80px;
    box-shadow: 0 0 0 4px #2e2e2e,
    0 0 0 6px var(--clr);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    background-color: #2e2e2e;
    transition: 0.7s ease;
}
.container-3 .box:hover .content .icon{
    background-color: var(--clr);
    color: #2e2e2e;
    box-shadow: 0 0 0 4px #2e2e2e,
     0 0 0 300px var(--clr);
}
.container-3 .box .content h3{
    font-size: 1.3em;
    font-weight: 500;
    transition: 0.7 ease;
}
.container-3 .box:hover .content h3{
    color: #2e2e2e;
}
.container-3 .box .content p{
    margin: 10px 0;
    color: #999;
    transition: 0.7s ease;
}
.container-3 .box:hover .content p{
    color: #2e2e2e;
}
.container-3 .box .content a{
    position: relative;
    background-color: var(--clr);
    color: #2e2e2e;
    padding: 8px 15px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    transition: 0.7s ease;
}
.container-3 .box:hover .content a{
    background-color: #2e2e2e;
    color: var(--clr);
}
.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #000942;
    width: 100%;
    padding-top: 10px;
    margin: 0 auto;
}
.projects .title{
    font-size: 2em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title span{
    font-size: 2.3em;
    font-weight: 800;
    color: #e91e63;
}
.projects .container-4{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px 50px 0 50px;
}
.projects .container-4 .project-card{
    width: 240px;
    height: 200px;
    background-color: #6a0808;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    transition: 0.7s ease;
}
.projects .container-4 .project-card:hover{
    transform: scale(1.1);
}
.project-card:hover .project-image{
    opacity: 0.9;
}
.project-image img{
    width: 100%;
}
.project-title{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.more-details {
    text-decoration: none;
}
.more-details i{
    color: #e91e63;
    font-size: 1.8em;
}
.more-details i:hover{
    color: #601cfc;
}
.contact{
    width: 100%;
    background-color: #000942;
    padding: 4% 6% 3% 16%;
}
.contact .container-4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; 
}
.container-4 .box-1{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid 5px #bababa;
    margin: 20px;
    padding: 30px 10px;
}
.container-4 .box-1 i{
    font-size: 2.5em;
    color: #bababa;
}
.container-4 .box-1 p{
    font-size: 1.2em;
    color: #bababa;
}

@media (max-width:1000px) {
    .home .container-1{
        padding: 90px 40px 0 160px;
    }
    .home .container-1 .text-box-1 h2{
        font-size: 1.4em;
    }
    .home .container-1 .text-box-1 h1{
        font-size: 1.6em;
    }
    .home .container-1 .text-box-1 h1 span{
        font-size: 1.9em;
    }
    .home .container-1 .text-box-1 p{
        font-size: 0.8em;
    }
    .home .container-1 .text-box-1 .about{
        font-size: 1em;
    }.img-box-1 { 
        margin-top: 65px;
    }
    .img-box-1 img{
        width: 200px;
        height: 500px;
    }
    .skills .container-2{
        padding: 40px 100px 0 100px;
    }
    .circles .circle{
        font-size: 0.2em;
        width: 120px;
        height: 120px;
        border: 3px solid #e91e63;
        margin: 10px;
    }
    .circles .circle .image-logo{
        width: 60px;
        height: 60px;
    }
    .circles .circle .image-logo img{
        width: 60px;
        height: 60px;
        padding: 5px;
    }
    .title{
        font-size: 1.8em;
        font-weight: 200;  
    }
    .title span{
        font-size: 2em;
        font-weight: 300;
    }
    .services{
        padding-top: 20px;
    }
    .container-3{
        padding: 10px 50px 0 50px;
    }
    .container-3 .box{
        width: 200px;
        height: 250px;
        margin: 10px;
    }
    .container-3 .box::before{
        content: '';
        position: absolute;
        border-top: 2px solid var(--clr);
        border-bottom: 2px solid var(--clr);
        transform: skew(15deg);
        transition: 0.7s ease-in-out;
    }
    .container-3 .box .content{
        gap: 20px;
        padding: 0 20px;
    }
    .container-3 .box .content .icon i{
        color: var(--clr);
        width: 40px;
        height: 40px;
        font-size: 1.9em;
    }
    .container-3 .box .content h3{
        font-size: 1.2em;
        font-weight: 300;
    }
    .container-3 .box .content p{
        font-size: 0.7em;
    }
    .container-3 .box .content a{
        padding: 4px 8px;
    }
    .projects {
        padding-top: 25px;
    }
    .projects .title{
        font-size: 1.6em;
        font-weight: 400;
    }
    .title span{
        font-size: 2em;
        font-weight: 600;
    }
    .projects .container-4{
        padding: 20px 50px 0 50px;
    }
    .projects .container-4 .project-card{
        width: 200px;
        height: 150px;
    }
    .more-details {
        text-decoration: none;
    }
    .more-details i{
        font-size: 1.3em;
    }
}














@media (max-width:861px) {
    





    
    header nav ul{
        display: none;
    }
    header nav ul.active{
        width: 100%;
        height: 50vh;
        position: fixed;
        top: 90px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header nav ul li{
        margin-left: 0;
        margin-top: 10px;
    }
    header nav ul li a{
        color: #111;
        font-size: 1.6em;
    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        display: flex;
    }
    .menuToggle.active{
        background: url(../images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    header.sticky .menuToggle{
        filter: invert(1);
    }
    header{
        padding: 5px 50px 5px 90px;
    }
    nav .btn{
        font-size: 0.8em;
        border-radius: 30px;
        padding: 5px 10px;
    }
    .side-nav{
        width: 70px;
    }
    .side-nav h2{
        font-size: 2em;
    }
    .side-nav a i{
        font-size: 1.5em;
    }
    .side-nav a i:hover{
        padding: 4px;
    }
    .home::before{
        clip-path: circle(50% at right 40%);
        opacity: 0.2;
    }
    .home .container-1{
        padding: 200px 0 0 110px;
    }
    .home .container-1 .text-box-1 h2{
        font-size: 1.3em;
    }
    .home .container-1 .text-box-1 h1{
        font-size: 1.8em;
    }
    .home .container-1 .text-box-1 h1 span{
        font-size: 2em;
    }
    .home .container-1 .text-box-1 p{
        font-size: 0.8em;
    }
    .img-box-1 { 
        display: none;
    }
    .skills .container-2{
        padding: 130px 50px 0 100px;
    }
    .circles .circle{
        font-size: 0.4em;
        width: 135px;
        height: 135px;
        border: 3px solid #e91e63;
        margin: 10px;
    }
    .circles .circle .image-logo{
        width: 80px;
        height: 80px;
    }
    .circles .circle .image-logo img{
        width: 80px;
        height: 80px;
        padding: 5px;
    }
    .title{
        font-size: 1.9em; 
        padding: 15% 10% 0% 13%;
    }
    .container-3{
        padding: 10px 50px 0 80px;
    }
    .container-3 .box{
        margin-top: 30px;
    }
    .projects .container-4{
        padding: 20px 50px 0 80px;
    }
}